<div class="modal-header">
    <h4 class="modal-title">Add Admin</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<form #f="ngForm" (ngSubmit)="addAdmin(f)">
    <div class="modal-body">
        <div class="mb-3">
            <label for="firstname" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstname" placeholder="First name" name="firstname" #firstname="ngModel"
                [(ngModel)]="admin.firstname">
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastname" name="lastname" #lastname="ngModel"
                [(ngModel)]="admin.lastname" placeholder="Last name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" #email="ngModel"
                [(ngModel)]="admin.email" placeholder="Email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" #password="ngModel"
                [(ngModel)]="admin.password" placeholder="Password">
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone number</label>
            <input type="number" class="form-control" id="phoneNumber" placeholder="Phone number" name="phoneNumber"
                #phoneNumber="ngModel" [(ngModel)]="admin.phoneNumber">
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
</form>