<app-navbar></app-navbar>
<div class="container mt-3">
    <div class="row justify-content-end">
        <div class="col-md-2">
            <button class="btn btn-primary float-md-end" (click)="openAddArticleModal()">Add new article</button>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3" *ngFor="let article of articles">
            <div class="card mb-4">
                <img [src]="getImageUrl(article.image)" alt="MongoDB Image" style="height: 170px;">
                <div class="card-body">
                    <h5 class="card-title">{{article.title}}</h5>
                    <p class="card-text" style="height: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{article.description}}</p>
                    <button class="btn btn-primary" (click)="goToArticleDetails(article._id)">Details</button>
                </div>
            </div>
        </div>
    </div>
</div>