<!-- <div class="articles-container">
    <div class="row">
        <mat-card *ngFor="let order of orders" class="order col-md-3">
            <img [src]="getImageUrl(order.image)" alt="{{ order.title }}" class="order-image">
            <mat-card-content class="order-details">
                <h2 style="text-align: center;">{{ order.title }}</h2>
                <p style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ order.description }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->