<div class="modal-header">
    <h4 class="modal-title">Login</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<form #f="ngForm" (ngSubmit)="login(f)">
    <div class="modal-body">
        <div class="mb-3">
            <label for="email" class="form-label">Username</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" #email="ngModel"
                [(ngModel)]="customer.email" required email>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                <div *ngIf="email.errors?.['required']">Email is required.</div>
                <div *ngIf="email.errors?.['email']">Please enter a valid email address.</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password"
                #password="ngModel" [(ngModel)]="customer.password" required>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                <div *ngIf="password.errors?.['required']">Password is required.</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>