<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <app-account-settings></app-account-settings>
        </div>
        <div class="col-md-6 mt-3">
            <div class="row justify-content-center">
                <form #f="ngForm" (ngSubmit)="updateAdmin(f)" class="col-md-8">
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label for="firstNameInput" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstNameInput" name="firstname"
                                [value]="firstNameValue" #firstname="ngModel" [(ngModel)]="admin.firstName">
                        </div>
                        <div class="col-md-6">
                            <label for="lastNameInput" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastNameInput" name="lastname"
                                [value]="lastNameValue" #lastname="ngModel" [(ngModel)]="admin.lastName">
                        </div>
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="emailInput" class="form-label">Email</label>
                        <input type="email" class="form-control" id="emailInput" name="email" [value]="emailValue"
                            #email="ngModel" [(ngModel)]="admin.email">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Save changes</button>
                </form>
            </div>
        </div>
    </div>
</div>