<mat-nav-list style="width: fit-content;">
    <a class="m-3" mat-list-item routerLink="/updateAccount/{{adminID}}" routerLinkActive="active-link">
        <mat-icon matListItemIcon routerLinkActive="active-link"><i class="bi bi-sliders"></i></mat-icon>
        <span matListItemTitle routerLinkActive="active-link">Account details</span>
    </a>
    <a class="m-3" mat-list-item routerLink="/adminsList" routerLinkActive="active-link">
        <mat-icon matListItemIcon routerLinkActive="active-link"><i class="bi bi-person-lines-fill"></i></mat-icon>
        <span matListItemTitle routerLinkActive="active-link">Admins list</span>
    </a>
</mat-nav-list>